---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <a href="/">Inicio</a>
      <a href="/about/">Sobre mi</a>
      <a href="/blog/">Blog</a>
    </header>
    <h1>About me</h1>
    <h2>...and my new Astro page</h2>
    <p>This is my new test site using the Astro tutoriaa</p>
  </body>
</html>
